<%- include('layouts/layout.ejs') %>
<body>
    <!--CUERPO DE LA PAGINA-->
    <div style="color:#fff">.</div>
    <div class="cointainer">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <h2>REGISTRO DE NUEVO ARTICULO EN LA BASE DE DATOS</h2>
            </div>
                <div class="col-md-8 offset-md-1">
                    <h6>Ingresa los datos necesarios para el registro del árticulo dentro de la base de datos.</h6>
                </div>
        </div>
    </div>
    <div class="cointainer p-5 ">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <form action="/upload" method="POST" enctype="multipart/form-data" class="row">
                            <!--Nombre del Bien-->
                            <div class="form-group col-6">
                                <h6>NOMBRE DEL BIEN</h6>
                                <input type = "text" name="tittle" placeholder="Nombre del Bien" class="form-control">
                            </div>
                            <!--Numero de Inventario-->
                            <div class="form-group col-6">
                                <h6>NÚMERO DE INVENTARIO UPP</h6>
                                <input type = "text" name="tittle" placeholder="Número de Inventario" class="form-control">
                            </div>
                            <!--Clave de control-->
                            <h6>CLAVE DE CONTROL</h6>
                            <div class="form-group col-1">
                                <select name="select" class="form-control">
                                    <option value="si">SI</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                            <div class="form-group col-5">
                                <input type = "text" name="tittle" placeholder="Clave de Control" class="form-control">
                            </div>

                            <!--Marca-->
                            <div class="form-group col-6">
                                <h6>MARCA</h6>
                                <input type = "text" name="tittle" placeholder="Marca" class="form-control">
                            </div>

                            <!--Modelo-->
                            <div class="form-group col-6">
                                <h6>MODELO</h6>
                                <input type = "text" name="tittle" placeholder="Modelo" class="form-control">
                            </div>

                            <!--Tipo de Alta-->
                            <div class="form-group col-6">
                                <h6>TIPO DE ALTA</h6>
                                <select name="select" class="form-control">
                                    <option value="si">COMPRA</option>
                                    <option value="no">DONACIÓN</option>
                                    <option value="si">REPOSICIÓN</option>
                                    <option value="no">PERMUTAR</option>
                                    <option value="no">COMODATO</option>
                                </select>
                            </div>

                             <!--Costo de Adquisición-->
                             <div class="form-group col-6">
                                <h6>COSTO DE ADQUISICIÓN</h6>
                                <input type = "text" name="tittle" placeholder="Costo de Adquisición" class="form-control">
                            </div>

                            <!--Numero de Factura-->
                            <div class="form-group col-6">
                                <h6>Número de Factura</h6>
                                <input type = "text" name="tittle" placeholder="Número de Factura" class="form-control">
                            </div>

                            <!--Descripción del Bien-->
                            <div class="form-group col-6">
                                <h6>DESCRIPCIÓN DEL BIEN</h6>
                                <textarea name="description" class="form-control" placeholder="Description"></textarea>
                            </div>


                            <!--Subir Foto-->
                            <div class="col-6">
                                <h6>FOTO DEL ARTICULO</h6>
                                <div class="input-group mb-3 form-group">
                                    <input type="file" name="image" class="form-control" id="inputGroupFile02">
                                </div>
                            </div>
                            <div class="form-group"style="text-align: right">
                                    <button type="submit" class="btn btn-success btn-block"style="background-color:#91133C">
                                        <i class="bi bi-device-ssd-fill"></i> Subir
                                    </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  


</body>

</html>
