<body>
    <!--CUERPO DE LA PAGINA-->
    <div style="color:#fff">.</div>
    <div class="cointainer">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <h2>INVENTARIO</h2>
            </div>
            <div class="col-md-8 offset-md-1">
                <h6>Consulta de tabla con elementos</h6>
            </div>
        </div>
    </div>
<div class="cointainer p-5 ">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <form action="/agregarArticulo" method="POST" enctype="multipart/form-data" class="row">
                        <table class="table">
                            <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombre del Bien</th>
                                <th scope="col">Numero de Inventario UPP</th>
                                <th scope="col">Clave de Control</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Modelo</th>
                                <th scope="col">Alta</th>
                                <th scope="col">CostoAdquisicion</th>
                                <th scope="col">Numero de Factura</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">__V</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
