<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del Bien</th>
        <th scope="col">Numero de Inventario UPP</th>
        <th scope="col">Clave de Control</th>
        <th scope="col">Modelo</th>
        <th scope="col">Marca</th>
        <th scope="col">Tipo de Alta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>