
<body>
    <style>
        .fecha {border-radius: 5px; float: right; margin: 0px 8px; border-style: solid; border-width: 1px;}
    </style>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <h1>REPORTE TRANSFERENCIA</h1>
    
</body>