<%- include('layouts/layout.ejs') %>
<head>
  <style>
    .btn-circle {width: 45px; height: 45px; line-height: 45px; text-align: center; padding: 0; border-radius: 50%;}
    .btn-circle-sm {width: 35px; height: 35px; line-height: 35px; font-size: 1.5rem; font-weight:9000;}
  </style>
</head>
<body>
    <div class="container" style="margin: auto; text-align: center; margin-top: 3%;">
    <h1>Requisición</h1>
    <p>Aqui podemos realizar la definicion de la planeacion sobre los gastos que se piensan utilizar durante el año siguiente, y poder desglosar la descripcion de los mismos.</p>
  </div>
  <form>
    <div class="row mb-3" style="align-items:center; margin:auto; width: 80%;">
      <div class="col-sm">
        <select class="form-select form-select-sm" aria-label="Actividad">
          <option selected disabled>Selecciona Actividad</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Componente" aria-label="Componente" disabled>
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Área Superior" aria-label="Area" disabled>
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Unidad Administrativa" aria-label="Unidad" disabled>
        </div>
      </div>
    </div>
    <div class="row mb-3" style="align-items:center; margin:auto; width: 80%;">
      <div class="col-sm">
        <select class="form-select form-select-sm" aria-label="Solicitud">
          <option selected disabled>Solicitud De</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-sm">
        <select class="form-select form-select-sm" aria-label="Tipo">
          <option selected disabled>Tipo de Requisición</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-sm">
        <select class="form-select form-select-sm" aria-label="No Partida">
          <option selected disabled>Número de Partida</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Nombre Partida" aria-label="Partida" disabled>
        </div>
      </div>
    </div>
    <table style="width: 80%; margin:auto; align-items: center; text-align: center;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Unidad de Medida</th>
          <th scope="col">Clave Bien o Servicio</th>
          <th scope="col">Descripción Detallada del Bien o Servicio</th>
          <th scope="col">Presupuesto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="number" class="form-control" aria-label="Cantidad">
            </div>
          </td>
          <td>
            <select class="form-select form-select-sm" aria-label="Unidad" style="width: 90%; margin:auto;">
              <option selected disabled>Unidad</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </td>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="text" class="form-control" aria-label="Clave">
            </div>
          </td>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="text" class="form-control" aria-label="Descripcion">
            </div>
          </td>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="number" class="form-control" aria-label="Presupuesto">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container" style="margin-left: 83%; width:auto; margin-top: 15px; margin-bottom: 15px;">
      <button class="btn btn-outline-dark btn-circle btn-circle-sm"><i class="bi bi-dash" style="color: black;"></i></button>
      <button class="btn btn-outline-dark btn-circle btn-circle-sm"><i class="bi bi-plus" style="color: black;"></i></button>
    </div>
    <div class="row mb-3" style="align-items:center; margin:auto; width: 80%;">
      <div class="row" style="margin-left: 76%; width:auto;">
        <label for="colFormLabel" class="col-sm col-form-label">Importe Total</label>
        <div class="col-sm">
          <input type="email" class="form-control" id="Total" disabled>
        </div>
      </div>
  </div>
  <div class="row mb-3" style="align-items:center; margin:auto; width: 80%;">
    <div class="col-sm">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Fuente de Financiamiento" aria-label="Fuente">
      </div>
    </div>
    <div class="col-sm">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Programa Especial" aria-label="Programa" >
      </div>
    </div>
    <div class="col-sm">
      <select class="form-select form-select-sm" aria-label="Mes Afectar">
        <option selected disabled>Mes a Afectar</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>   
    <div class="col-sm">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Periodo de Utilización" aria-label="Periodo">
      </div>
    </div>
    <div class="col-sm">
      <select class="form-select form-select-sm" aria-label="Para">
        <option selected disabled>Requisición Para</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="row" style="align-items:center; margin:auto; width: 80%;">
    <div class="col-sm-5">
      <input type="text" class="form-control" placeholder="Leyenda Alusiva al Gasto" aria-label="Leyenda" style="height: 100px;">
    </div>
  </div>
  <div class="container" style="margin-left: 78%; width:auto; margin-top: 15px; margin-bottom: 15px;">
    <button type="button" class="btn btn-danger" style="background-color: #91133C;"><i class="bi bi-printer-fill"></i>   Imprimir</button>
    <button type="button" class="btn btn-danger" style="background-color: #91133C;"><i class="bi bi-device-ssd-fill"></i>   Guardar</button>
  </div>
  </form> 
</body>