
<head>
  <style>
    .btn-circle {width: 45px; height: 45px; line-height: 45px; text-align: center; padding: 0; border-radius: 50%;}
    .btn-circle-sm {width: 35px; height: 35px; line-height: 35px; font-size: 1.5rem; font-weight:9000;}
  </style>
</head>
<body>
  <div class="container" style="margin: auto; text-align: center; margin-top: 3%;">
    <h1>Requisición</h1>
    <p>Aqui podemos realizar la definicion de la planeacion sobre los gastos que se piensan utilizar durante el año siguiente, y poder desglosar la descripcion de los mismos.</p>
  </div>
  <form action="/guardarRequisicion" method="POST" id="Formulario">
    <div class="row mb-3" style="align-items:center; margin:auto; width: 90%;">
      <div class="col-sm">
        <select class="form-select form-select-sm" id="Actividad" name="Actividad" required>
          <option value="" selected disabled>Selecciona Actividad</option>
          <% actividad_data.forEach(function(actividad){ %>
            <option value="<%=actividad.idActividad+' - '+actividad.nombre%>"><%=actividad.idActividad%> - <%=actividad.nombre%></option>
          <%})%>
          </select>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Componente" id="Componente" name="Componente" value="" readonly required>
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Área Superior" id="Area" name="Area" value="" readonly required>
        </div>
      </div>
    </div>
    <div class="row mb-3" style="align-items:center; margin:auto; width: 90%;">
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Unidad Administrativa" id="UnidadAdministrativa" name="UnidadAdministrativa" value="" readonly required>
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Área Solicitante" id="Solicitante" name="Solicitante" required>
        </div>
      </div>
      <div class="col-sm">
        <select class="form-select form-select-sm" id="Solicitud" name="Solicitud" required>
          <option value="" selected disabled>Solicitud De</option>
          <option value="Material">Material</option>
          <option value="Servicio">Servicio</option>
        </select>
      </div>
    </div>
    <div class="row mb-3" style="align-items:center; margin:auto; width: 90%;">
      <div class="col-sm">
        <select class="form-select form-select-sm" id="Tipo" name="Tipo" required>
          <option value="" selected disabled>Tipo de Requisición</option>
          <option value="Normal">Normal</option>
          <option value="Urgente">Urgente</option>
        </select>
      </div>
      <div class="col-sm">
        <select class="form-select form-select-sm" id="NoPartida" name="NoPartida" required>
          <option value="" selected disabled>Número de Partida</option>
        </select>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Nombre Partida" id="Partida" name="Partida" readonly required>
        </div>
      </div>
    </div>
    <table id="Tabla" style="width: 80%; margin:auto; align-items: center; text-align: center;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Unidad de Medida</th>
          <th scope="col">Clave Bien o Servicio</th>
          <th scope="col">Descripción Detallada del Bien o Servicio</th>
          <th scope="col">Presupuesto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="number" class="form-control" id="Cantidad" name="Cantidad" required>
            </div>
          </td>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="text" class="form-control" id="UnidadM" name="UnidadM" required>
            </div>
          </td>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="text" class="form-control" id="Clave" name="Clave" required>
            </div>
          </td>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="text" class="form-control" id="Descripcion" name="Descripcion" required>
            </div>
          </td>
          <td>
            <div class="input-group input-group-sm" style="width: 90%; margin: auto;">
              <input type="number" class="form-control" id="Presupuesto" name="Presupuesto" step=".01" value="0" onchange="obtenerTotal()" required>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container" style="margin-left: 83%; width:auto; margin-top: 15px; margin-bottom: 15px;">
      <button type="button" class="btn btn-outline-dark btn-circle btn-circle-sm" onclick="eliminarFila()"><i class="bi bi-dash" style="color: black;"></i></button>
      <button type="button" class="btn btn-outline-dark btn-circle btn-circle-sm" onclick="agregarFila()"><i class="bi bi-plus" style="color: black;"></i></button>
    </div>
    <div class="row mb-3" style="align-items:center; margin:auto; width: 90%;">
      <div class="row" style="margin-left: 65%; width: 400px;;">
        <label for="colFormLabel" class="col-sm col-form-label">Importe Total</label>
        <div class="col-sm">
          <input type="number" class="form-control" id="Total" name="Total" step=".01" value="0" readonly required>
        </div>
      </div>
    </div>
    <div class="row mb-3" style="align-items:center; margin:auto; width: 90%;">
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Fuente de Financiamiento" id="Fuente" name="Fuente" >
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Programa Especial" id="Programa" name="Programa" >
        </div>
      </div>
      <div class="col-sm">
        <select class="form-select form-select-sm" id="MesAfectar" name="MesAfectar" required>
          <option value="" selected disabled>Mes a Afectar</option>
        </select>
      </div>   
      <div class="col-sm">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Periodo de Utilización" id="Periodo" name="Periodo" required>
        </div>
      </div>
      <div class="col-sm">
        <select class="form-select form-select-sm" id="Para" name="Para" required>
          <option value="" selected disabled>Requisición Para</option>
          <option value="Gestion">Gestión</option>
          <option value="Liberacion">Liberación</option>
        </select>
      </div>
    </div>
    <div class="row" style="align-items:center; margin:auto; width: 90%;">
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="Leyenda Alusiva al Gasto" id="Leyenda" name="Leyenda" style="height: 100px;" required>
      </div>
    </div>
    <input type="hidden" class="form-control" id="NoCuenta" name="NoCuenta">
    <div class="container" style="margin-left: 78%; width:auto; margin-top: 15px; margin-bottom: 15px;">
      <button formtarget="_blank" formaction="/get_pdf" class="btn btn-danger" style="background-color: #91133C;" id="Imprimir"><i class="bi bi-printer-fill"></i>   Imprimir</button>
      <button type="submit" class="btn btn-danger" style="background-color: #91133C;" id="Guardar"><i class="bi bi-device-ssd-fill"></i>   Guardar</button>
    </div>
  </form>
</body>
<script type="text/javascript">
  var datos = <%- JSON.stringify(actividad_data) %>;
  var partidas;
  function _(element){
    return document.getElementById(element);
  }
  function meses(search){
    var html='<option selected disabled value="">Mes a Afectar</option>'
    if(search.enero!=0) html+='<option value="Enero">Enero</option>'
    if(search.febrero!=0) html+='<option value="Febrero">Febrero</option>'
    if(search.marzo!=0) html+='<option value="Marzo">Marzo</option>'
    if(search.abril!=0) html+='<option value="Abril">Abril</option>'
    if(search.mayo!=0) html+='<option value="Mayo">Mayo</option>'
    if(search.junio!=0) html+='<option value="Junio">Junio</option>'
    if(search.julio!=0) html+='<option value="Julio">Julio</option>'
    if(search.agosto!=0) html+='<option value="Agosto">Agosto</option>'
    if(search.septiembre!=0) html+='<option value="Septiembre">Septiembre</option>'
    if(search.octubre!=0) html+='<option value="Octubre">Octubre</option>'
    if(search.noviembre!=0) html+='<option value="Noviembre">Noviembre</option>'
    if(search.diciembre!=0) html+='<option value="Diciembre">Diciembre</option>'
    return html
  }
  function fetch_data(id){
    fetch('/get_calendario?idActividad='+id).then(
      function(response){
        return response.json();
      }
    ).then(function(responseData){
      var html = '<option value="" selected disabled>Número de Partida</option>'
      responseData.forEach(function(partida){
        html += '<option value="'+partida.partida+'">'+partida.partida+'</option>'
      })
      _('NoPartida').innerHTML = html;
    })
  }
  _('Actividad').onchange = function(){
    _('Partida').value=""
    _('NoPartida').innerHTML = '<option value="" selected disabled>Número de Partida</option>';
    _('MesAfectar').innerHTML = '<option value="" selected disabled>Mes a Afectar</option>';
    var id = _('Actividad').value.slice(0,3)
    datos.forEach(function(actividad){
      if(id===actividad.idActividad){
        _('Componente').value = actividad.componente
        _('Area').value = actividad.areaSuperior
        _('UnidadAdministrativa').value = actividad.unidadAdministrativa
      }
    })
    fetch_data(id);
    
  };
  _('NoPartida').onchange = function(){
    fetch('/get_partida?idPartida='+_('NoPartida').value).then(
        function(response){
          return response.json()
        }
      ).then(function(responseData){
        
        if(responseData.idPartida==_('NoPartida').value){
          _('Partida').value=responseData.nombre
          _('NoCuenta').value=responseData.cuenta
        }
        
      })
    fetch('/get_mes?idActividad='+_('Actividad').value.slice(0,3)+'&idPartida='+_('NoPartida').value).then(
      function(response){
        return response.json()
      }
    ).then(function(responseData){
      _('MesAfectar').innerHTML = meses(responseData)
    })

  }
  function agregarFila(){
    var filas=_('Tabla').rows.length
    _('Tabla').insertRow(-1).innerHTML ='<th scope="row">'+filas+'</th><td><div class="input-group input-group-sm" style="width: 90%; margin: auto;"><input type="number" class="form-control" name="Cantidad" id="Cantidad"required></div></td><td><div class="input-group input-group-sm" style="width: 90%; margin: auto;"><input type="text" class="form-control" name="UnidadM" id="UnidadM" required></div></td><td><div class="input-group input-group-sm" style="width: 90%; margin: auto;"><input type="text" class="form-control" name="Clave" id="Clave" required></div></td><td><div class="input-group input-group-sm" style="width: 90%; margin: auto;"><input type="text" class="form-control" name="Descripcion" id="Descripcion" required></div></td><td><div class="input-group input-group-sm" style="width: 90%; margin: auto;"><input type="number" class="form-control" name="Presupuesto" id="Presupuesto" step=".01" value="0" onchange="obtenerTotal()" required></div></td>'
  }
  function eliminarFila(){
    var filas = _('Tabla').rows.length
    if(filas>2){
      _('Tabla').deleteRow(filas -1)
    }
    obtenerTotal()
  }
  function obtenerTotal(){
    var elementos = document.getElementsByName('Presupuesto').length;
    var total = 0;
    for (let index = 0; index < elementos; index++) {
      if (document.getElementsByName('Presupuesto')[index].value=="")document.getElementsByName('Presupuesto')[index].value="0"
      const num = parseFloat(document.getElementsByName('Presupuesto')[index].value)
      total += num

    }
    _('Total').value=total.toFixed(2)
  }
  _('Formulario').onsubmit = function(){
    var opciones = _('Actividad').options
    console.log(opciones);
    var elementos = document.getElementsByName('Presupuesto')
    for (let index = 0; index < elementos.length; index++) {
      if(elementos[index].value=="0"){
        alert("El presupuesto no puede ser 0")
        return false
      }
      
    }
    return true
  }
</script>