
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <title>EasyPOA</title>
</head>

<body>
    
    <!-- NAVBAR DE LA PAGINA -->

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#91133C">
        <div class="container-fluid">
            <!-- icono o nombre -->

            <a class="navbar-brand" href="#">
                <i class="bi bi-shop"></i>
                <span style="color:#fff">EasyPOA</span>
            </a>

            <!-- boton del menu -->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- elementos del menu colapsable -->

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Planeación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Compras</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle " saria-current="page" href="Inventarios.html" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">Inventarios</a>
                    <ul class="dropdown-menu" style="background-color:#91133C" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Base de Datos</a></li>
                        <li><a class="dropdown-item" href="#">Agregar Articulo</a>
                        <li>
                        <li><a class="dropdown-item" href="#">Información Adicional</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DTIC's</a>
                    </li>
                </ul>

                <hr class="d-md-none text-white-50">

                </ul>
                <!-- Usuario -->

                <ul class="navbar-nav  flex-row flex-wrap text-light">
                    <li>
                        <a>
                            <span style="color:#fff ; text-align: right">USUARIO</span><br>
                            <span style="color:#fff ; font-size:75%" >Cargo del Usuario</span>
                        </a>
                    </li>
                    <li class="nav-item col-4 col-md-auto p-1">
                        <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" height="40" width="40">
                        <small class="d-md-none ms-2">Nombre de Usuario</small>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!--CUERPO DE LA PAGINA-->
    <div style="color:#fff">.</div>
    <div class="cointainer">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <h2>RESGUARDOS</h2>
            </div>
                <div class="col-md-8 offset-md-1">
                    <h6>Complete la siguiente informacion con los resguardos.</h6>
                </div>
        </div>
    </div>
    <div class="cointainer p-5 ">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <form action="/upload" method="POST" enctype="multipart/form-data" class="row">
                            
                             <!--Resguadosa elaborar-->
                             <div class="form-group col-6">
                                <h6>RESGUARDOS A ELABORAR</h6>
                                <label>
                                    <input type="radio" name="Resguardo" value="Sujeto a control"> Sujeto a control
                                  </label>
                                  <label>
                                    <input type="radio" name="Resguardo" value="Patrimonio"> Patrimonio
                                  </label>
                            </div>
                            
                            <!--Tipos de resguardos-->  
                            <div class="form-group col-6">
                                <h6>TIPOS DE RESGUARDO</h6>
                                <input type = "text" name="tittle" placeholder="TIPOS DE RESGUARDO" class="form-control">

                            </div>

                            <!--FECHA DE ELABORACIÓN DE RESGUARDO--> 
                            <div class="form-group col-6">
                                <h6>FECHA DE ELABORACIÓN DE RESGUARDO</h6>
                                <input type="datetime-local" name="" id="">
                            </div>
                            
                            <!--CUENTA CON ETIQUETA EL BIEN SI/NO--> 
                            <div class="form-group col-6">
                                <h6>CUENTA CON ETIQUETA EL BIEN</h6>
                                <select name="select" class="form-control">
                                    <option value="si">SI</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>

                             <!--SEGUIMIENTO A ETIQUETA--> 
                             <div class="form-group col-6">
                                <h6>SEGUIMIENTO A ETIQUETA</h6>
                                <select name="select" class="form-control">
                                    <option value="GENERADA">GENERADA</option>
                                    <option value="NO GENERADA">NO GENERADA</option>
                                </select>
                            </div>

                            <!--SEGUIMIENTO A ETIQUETA--> 
                            <div class="form-group col-6">
                                <h6>NOMBRE DEL RESGUARDANTE</h6>
                                <input type = "text" name="tittle" placeholder="NOMBRE DEL RESGUARDANTE" class="form-control">
                            </div>

                            <!--NÚMERO DE RESGUARDO--> 
                            <h6>NÚMERO DE RESGUARDO</h6>
                                <div class="form-group col-6">
                                <input type = "text" name="tittle" placeholder="NÚMERO DE RESGUARDO" class="form-control">
                            </div>

                            <!--Numero de Resguardo-->
                            <div class="form-group col-6">
                                <h6>NUMERO DE RESGUARDO</h6>
                                <input type = "text" name="tittle" placeholder="NUMERO DE RESGUARDO" class="form-control">
                            </div>

                            <!--UBICACIÓN FÍSICA-->
                            <div class="form-group col-6">
                                <h6>UBICACIÓN FÍSICA</h6>
                                <input type = "text" name="tittle" placeholder="UBICACIÓN FÍSICA" class="form-control">
                            </div>

                            <!--PERFIL ACADÉMICO DEL RESGUARDANTE-->
                            <div class="form-group col-6">
                                <h6>PERFIL ACADÉMICO DEL RESGUARDANTE</h6>
                                <input type = "text" name="tittle" placeholder="PERFIL ACADÉMICO DEL RESGUARDANTE" class="form-control">
                            </div>
                        
                            <!--PUESTO-->
                            <div class="form-group col-6">
                                <h6>PUESTO</h6>
                                <input type = "text" name="tittle" placeholder="PUESTO" class="form-control">
                            </div>
                            
                            <!--ESTATUS LABORAL-->
                            <div class="form-group col-6">
                                <h6>ESTATUS LABORAL</h6>
                                <input type = "text" name="tittle" placeholder="ESTATUS LABORAL" class="form-control">
                            </div>

                            <!--CORREO ELECTRÓNICO PERSONAL-->
                            <div class="form-group col-6">
                                <h6>CORREO ELECTRÓNICO PERSONAL</h6>
                                <input type = "text" name="tittle" placeholder="CORREO ELECTRÓNICO PERSONAL" class="form-control">
                            </div>
                        
                            <!--CORREO ELECTRÓNICO INSTITUCIONAL-->
                            <div class="form-group col-6">
                                <h6>CORREO ELECTRÓNICO INSTITUCIONAL</h6>
                                <input type = "text" name="tittle" placeholder="CORREO ELECTRÓNICO INSTITUCIONAL" class="form-control">
                            </div>

                             <!--Clave de control-->
                            <h6>RESGUARDO FIRMADO</h6>
                            <div class="form-group col-6">
                                <select name="select" class="form-control">
                                    <option value="si">SI</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                            
                            <!--AÑO DE LA FIRMA DEL RESGUARDO-->
                            <div class="form-group col-6">
                                <h6>AÑO DE LA FIRMA DEL RESGUARDO</h6>
                                <input type = "text" name="tittle" placeholder="AÑO DE LA FIRMA DEL RESGUARDO" class="form-control">
                            </div>
                                 
                            <!--OBSERVACIONES-->
                            <div class="form-group col-6">
                                <h6>OBSERVACIONES</h6>
                                <textarea name="description" class="form-control" placeholder="OBSERVACIONES"></textarea>
                            </div>
                            </div>

                            <!--Boton-->
                            <div class="form-group"style="text-align: right">
                                <button type="submit" class="btn btn-success btn-block"style="background-color:#91133C">
                                    <i class="bi bi-device-ssd-fill"></i> Guardar
                                </button>
                        </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  


    <!--FOOTER DE LA PAGINA-->
    <footer class="text-center text-white" style="background-color: #91133C;">
        <!-- Copyright -->
        <div class="text-center text-white p-1" style="background-color: #91133C;">
          © 2022 Copyright:
          <a class="text-white" href="https://www.upp.edu.mx/main/">Universidad Politécnica de Pachuca</a>
        </div>
        <!-- Copyright -->
      </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>

</html>