<%- include('layouts/layout.ejs') %>

    <!--CUERPO DE LA PAGINA-->
    <div style="color:#fff">.</div>
    <div class="cointainer">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <h2>RESGUARDOS</h2>
            </div>
                <div class="col-md-8 offset-md-1">
                    <h6>Complete la siguiente informacion con los resguardos.</h6>
                </div>
        </div>
    </div>
    <div class="cointainer p-5 ">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <form action="/upload" method="POST" enctype="multipart/form-data" class="row">
                            
                            <!--Resguadosa elaborar-->
                            <div class="form-group col-6">
                                <h6>RESGUARDOS A ELABORAR</h6>
                                <label>
                                    <input type="radio" name="Resguardo" value="Sujeto a control"> Sujeto a control
                                  </label>
                                  <label>
                                    <input type="radio" name="Resguardo" value="Patrimonio"> Patrimonio
                                  </label>
                            </div>
                            
                            <!--Tipos de resguardos-->  
                            <div class="form-group col-6">
                                <h6>TIPOS DE RESGUARDO</h6>
                                <input type = "text" name="tittle" class="form-control">

                            </div>

                            <!--FECHA DE ELABORACIÓN DE RESGUARDO--> 
                            <div class="form-group col-6">
                                <h6>FECHA DE ELABORACIÓN DE RESGUARDO</h6>
                                <input type="datetime-local" name="" id="">
                            </div>
                            
                            <!--CUENTA CON ETIQUETA EL BIEN SI/NO--> 
                            <div class="form-group col-6">
                                <h6>CUENTA CON ETIQUETA EL BIEN</h6>
                                <select name="select" class="form-control">
                                    <option value="si">SI</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>

                             <!--SEGUIMIENTO A ETIQUETA--> 
                             <div class="form-group col-6">
                                <h6>SEGUIMIENTO A ETIQUETA</h6>
                                <select name="select" class="form-control">
                                    <option value="GENERADA">GENERADA</option>
                                    <option value="NO GENERADA">NO GENERADA</option>
                                </select>
                            </div>

                            <!--SEGUIMIENTO A ETIQUETA--> 
                            <div class="form-group col-6">
                                <h6>NOMBRE DEL RESGUARDANTE</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>

                            <!--NÚMERO DE RESGUARDO--> 
                            <h6>NÚMERO DE RESGUARDO</h6>
                                <div class="form-group col-6">
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>

                            <!--Numero de Resguardo-->
                            <div class="form-group col-6">
                                <h6>NUMERO DE RESGUARDO</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>

                            <!--UBICACIÓN FÍSICA-->
                            <div class="form-group col-6">
                                <h6>UBICACIÓN FÍSICA</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>

                            <!--PERFIL ACADÉMICO DEL RESGUARDANTE-->
                            <div class="form-group col-6">
                                <h6>PERFIL ACADÉMICO DEL RESGUARDANTE</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>
                        
                            <!--PUESTO-->
                            <div class="form-group col-6">
                                <h6>PUESTO</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>
                            
                            <!--ESTATUS LABORAL-->
                            <div class="form-group col-6">
                                <h6>ESTATUS LABORAL</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>

                            <!--CORREO ELECTRÓNICO PERSONAL-->
                            <div class="form-group col-6">
                                <h6>CORREO ELECTRÓNICO PERSONAL</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>
                        
                            <!--CORREO ELECTRÓNICO PERSONAL-->
                            <div class="form-group col-6">
                                <h6>CORREO ELECTRÓNICO INSTITUCIONAL</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>

                             <!--Clave de control-->
                            <h6>RESGUARDO FIRMADO</h6>
                            <div class="form-group col-6">
                                <select name="select" class="form-control">
                                    <option value="si">SI</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                            
                            <!--CORREO ELECTRÓNICO PERSONAL-->
                            <div class="form-group col-6">
                                <h6>AÑO DE LA FIRMA DEL RESGUARDO</h6>
                                <input type = "text" name="tittle" placeholder="" class="form-control">
                            </div>
                                 
                            <!--OBSERVACIONES-->
                            <div class="form-group col-6">
                                <h6>OBSERVACIONES</h6>
                                <textarea name="description" class="form-control" placeholder="OBSERVACIONES"></textarea>
                            </div>
                            </div>

                            <!--Boton-->
                            <div class="form-group"style="text-align: right">
                                <button type="submit" class="btn btn-success btn-block"style="background-color:#91133C">
                                    <i class="bi bi-device-ssd-fill"></i> Guardar
                                </button>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>