<body>
    <style>
        h1{
            text-align: center;
        }
  
 
    </style>
 <h1>TRANSFERENCIAS</h1>
    <form>
    <script>
        function agregarFila2(){
         document.getElementById("tabla").insertRow(+1).innerHTML = '<td> <input type="number" id="PartidaR" name="PartidaR" min="10" max="100"></td><td><input type="number" id="EneroR" name="EneroR" min="10" max="100"></td><td><input type="number" id="FebreroR" name="FebreroR" min="10" max="100"></td><td><input type="number" id="MarzoR" name="MarzoR" min="10" max="100"></td><td><input type="number" id="AbrilR" name="AbrilR" min="10" max="100"></td><td><input type="number" id="MayoR" name="MayoR" min="10" max="100"></td><td><input type="number" id="JunioR" name="JunioR" min="10" max="100"></td><td><input type="number" id="JulioR" name="JulioR" min="10" max="100"></td><td><input type="number" id="AgostoR" name="AgostoR" min="10" max="100"></td><td><input type="number" id="SeptiembreR" name="SeptiembreR" min="10" max="100"></td><td><input type="number" id="OctubreR" name="OctubreR" min="10" max="100"></td> <td><input type="number" id="NoviembreR" name="NoviembreR" min="10" max="100"></td><td><input type="number" id="DiciembreR" name="DiciembreR" min="10" max="100"></td><td><input type="number" id="TotalR" readonly  min="10" max="100"></td>';
         }
     </script>
  <script>
   function agregarFila(){
    document.getElementById("table").insertRow(+1).innerHTML = '<td> <input type="number" id="Partida" name="Partida" min="10" max="100"></td><td><input type="number" id="Enero" name="Enero" min="10" max="100"></td><td><input type="number" id="Febrero" name="Febrero" min="10" max="100"></td><td><input type="number" id="Marzo" name="Marzo" min="10" max="100"></td><td><input type="number" id="Abril" name="Abril" min="10" max="100"></td><td><input type="number" id="Mayo" name="Mayo" min="10" max="100"></td><td><input type="number" id="Junio" name="Junio" min="10" max="100"></td><td><input type="number" id="Julio" name="Julio" min="10" max="100"></td><td><input type="number" id="Agosto" name="Agosto" min="10" max="100"></td><td><input type="number" id="Septiembre" name="Septiembre" min="10" max="100"></td><td><input type="number" id="Octubre" name="Octubre" min="10" max="100"></td> <td><input type="number" id="Noviembre" name="Noviembre" min="10" max="100"></td><td><input type="number" id="Diciembre" name="Diciembre" min="10" max="100"></td><td><input type="number" id="Total" readonly  min="10" max="100"></td>';
    }
</script>
<script>

function eliminarFila(){
    var table = document.getElementById("table");
    var rowCount = table.rows.length;
    //console.log(rowCount);
    
    if(rowCount <= 1)
      alert('No se puede eliminar el encabezado');
    else
      table.deleteRow(rowCount -1);
  }
</script>
<script>
    function eliminarFila2(){
    var table = document.getElementById("tabla");
    var rowCount = table.rows.length;
    //console.log(rowCount);
    
    if(rowCount <= 1)
      alert('No se puede eliminar esta fila');
    else
      table.deleteRow(rowCount -1);
  }
</script>

       
        <table id="table" class="table table-bordered">
        <b>COSTO REDUCCION</b>
        <tr>
            <td>Partida</td>
            <td>Enero</td>
            <td>Febrero</td>
            <td>Marzo</td>
            <td>Abril</td>
            <td>Mayo</td>
            <td>Junio</td>
            <td>Julio</td>
            <td>Agosto</td>
            <td>Septiembre</td>
            <td>Octubre</td>
            <td>Noviembre</td>
            <td>Diciembre</td>
            <td>Total</td>
        </tr>
        <tr>
            <td> <input type="number" id="Partida" name="Partida" min="10" max="100"></td>
            <td><input type="number" id="Enero" name="Enero" min="10" max="100"></td>
            <td><input type="number" id="Febrero" name="Febrero" min="10" max="100"></td>
            <td><input type="number" id="Marzo" name="Marzo" min="10" max="100"></td>
            <td><input type="number" id="Abril" name="Abril" min="10" max="100"></td>
            <td><input type="number" id="Mayo" name="Mayo" min="10" max="100"></td>
            <td><input type="number" id="Junio" name="Junio" min="10" max="100"></td>
            <td><input type="number" id="Julio" name="Julio" min="10" max="100"></td>
            <td><input type="number" id="Agosto" name="Agosto" min="10" max="100"></td>
            <td><input type="number" id="Septiembre" name="Septiembre" min="10" max="100"></td>
            <td><input type="number" id="Octubre" name="Octubre" min="10" max="100"></td>
            <td><input type="number" id="Noviembre" name="Noviembre" min="10" max="100"></td>
            <td><input type="number" id="Diciembre" name="Diciembre" min="10" max="100"></td>
            <td><input type="number" id="Total" readonly  min="10" max="100"></td>
        </tr>
    </table>
    <button type="button"  class="btn btn-primary" onclick="agregarFila()">AGREGAR FILA</button>
    <button type="button"  class="btn btn-danger" onclick="eliminarFila()">ELIMINAR FILA</button>
    <br>
    <br>
    <br>
<b>AUMENTO</b>
    <table id="tabla" class="table table-bordered">
        <tr>
            <td>Partida</td>
            <td>Enero</td>
            <td>Febrero</td>
            <td>Marzo</td>
            <td>Abril</td>
            <td>Mayo</td>
            <td>Junio</td>
            <td>Julio</td>
            <td>Agosto</td>
            <td>Septiembre</td>
            <td>Octubre</td>
            <td>Noviembre</td>
            <td>Diciembre</td>
            <td>Total</td>
        </tr>
        <tr>
            <td> <input type="number" id="PartidaR" name="PartidaR" min="10" max="100"></td>
            <td><input type="number" id="EneroR" name="EneroR" min="10" max="100"></td>
            <td><input type="number" id="FebreroR" name="FebreroR" min="10" max="100"></td>
            <td><input type="number" id="MarzoR" name="MarzoR" min="10" max="100"></td>
            <td><input type="number" id="AbrilR" name="AbrilR" min="10" max="100"></td>
            <td><input type="number" id="MayoR" name="MayoR" min="10" max="100"></td>
            <td><input type="number" id="JunioR" name="JunioR" min="10" max="100"></td>
            <td><input type="number" id="JulioR" name="JulioR" min="10" max="100"></td>
            <td><input type="number" id="AgostoR" name="AgostoR" min="10" max="100"></td>
            <td><input type="number" id="SeptiembreR" name="SeptiembreR" min="10" max="100"></td>
            <td><input type="number" id="OctubreR" name="OctubreR" min="10" max="100"></td>
            <td><input type="number" id="NoviembreR" name="NoviembreR" min="10" max="100"></td>
            <td><input type="number" id="DiciembreR" name="DiciembreR" min="10" max="100"></td>
            <td><input type="number" id="TotalR" readonly  min="10" max="100"></td>

            </tr>
    </table>
    <button type="button"  class="btn btn-primary" onclick="agregarFila2()">AGREGAR FILA</button>
    <button type="button"  class="btn btn-danger" onclick="eliminarFila2()">ELIMINAR FILA</button>
    
    <div class="form-group"style="text-align: right">
        <button type="submit" class="btn btn-success btn-block"style="background-color:#91133C">
            <i class="bi bi-device-ssd-fill"></i> Solicitar
        </button>
</div>
<select class="form-select" name="select" style="width: auto;">
    <option disabled selected>Motivo de la transferencia</option>
    <option value="value2">Por ampliacion del periodo de gestion</option>
    <option value="value3">Por diferencia en costos</option>
    <option value="value4">Por error en la fecha o suficienca presupuestal</option>
    <option value="value4">Por cambio de periodo</option>
  </select>
</form> 
</body>


